.title{
font-family: Helvetica; 
text-align: center;
}

.column{
border: solid 1px black; 
display: inline-block;
background: white;
background-color:; 
height: 60px;
width: 60px;
padding: 0;
}

.grid-container{
	position: absolute;
	margin-left: 130px;
}


.row{

	padding: 0;
	margin: 0


}


.container{
	width: 50%;
	margin-left: 250px;
}

.colored{
border: solid 1px black;
display: inline-block; 
background: black; 

}

.allbuttons{
margin-left: 230px; 
margin-bottom: 20px; 

}

#clear{
border: solid 1px black; 
padding: 10px; 
font-family: Helvetica;
margin: auto;
font-size: 16px;
margin-right: 20px; 
}

#multicolor{
border: solid 1px black; 
padding: 10px; 
font-family: Helvetica;
margin: auto;
font-size: 16px;
margin-right: 20px;
}

#black{

border: solid 1px black; 
padding: 10px; 
font-family: Helvetica;
margin: auto;
font-size: 16px;
margin-right: 20px;

}

#choose{

border: solid 1px black; 
padding: 10px; 
font-family: Helvetica;
margin: auto;
font-size: 16px;
margin-right: 20px;


}



body{

background: #536895;
}

